[submodule "public"]
	path = public
	url = git@github.com:kelvinabrokwa/kelvinabrokwa.github.io.git
	branch = master
[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
